{% if page.date and page.title %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": {{ site.author | default: site.title | jsonify }}
  },
  "description": {{ page.description | default: page.excerpt | strip_html | strip_newlines | truncate: 160 | jsonify }},
  "url": "{{ page.url | absolute_url }}"
  {% if page.image %},
  "image": "{{ page.image | absolute_url }}"
  {% endif %}
}
</script>
{% endif %}
