{%- assign post_ref = include.post | default: page -%}
{%- assign sem_data = site.data.semesters | where: "number", post_ref.semester | first -%}
{%- assign start = sem_data.semester_start -%}
{%- assign end = sem_data.semester_end -%}
{%- assign start_month = start | date: "%-m" -%}
{%- if start_month == "9" -%}Sept{%- else -%}{{ start | date: "%b" }}{%- endif %} {{ start | date: "%Y" }} – {% assign end_month = end | date: "%-m" -%}
{%- if end_month == "9" -%}Sept{%- else -%}{{ end | date: "%b" }}{%- endif %} {{ end | date: "%Y" }}
