---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- assign posts_sorted = site.posts | sort: 'date' | reverse -%}
      {%- for post in posts_sorted -%}
        {% include post-list-item.html post=post %}
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
